:root{
    --bg-color: linear-gradient(45deg, rgba(150,47,213,1) 0%, rgba(245,118,142,1) 100%);
    --before-color: linear-gradient(45deg, rgba(150,47,213,0.8) 0%, rgba(245,118,142,0.8) 100%);
    --main-color:#962fd5;
}